@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }
 html {
    scroll-behavior: smooth;
 }

li {
    list-style-type: none;
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.click {
    cursor: pointer;
    transition: all 300ms ease;
}
.click:hover {
    transform: scale(1.1);
}
.click:active {
    transform: scale(0.8);
}
 /* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link--list {
    display: flex;
}
.nav__link {
    cursor: pointer;
    margin: 0 4px;
    padding: 8px;
    font-weight: bold;
    color: #F9A826;
}

.nav__link--search {
    border: 1px solid transparent;
    background-color: #F9A826;
    border-radius: 24px;
    color: white;
    box-shadow: 4px;
}
.nav__link--search:hover {
    background-color: #8a5500;
    scale: 1.05;
    transition: all 300ms ease;
}
 .logo {
    width: 100px;
    height: 100px;
    padding: 12px;
 }
 .header__title {
    font-size: 32px;
    text-align: center;
    color: #242424;
    padding: 12px;
 }
.header__img--wrapper {
    width: 100%;
    max-width: 550px;
    padding: 12px;
}
.header__img {
    width: 100%;
}

.header__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.search__wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 24px 0px;
    padding: 8px;

}
.search__input {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #242424;
    border-top: none;
    border-left: none;
    outline: none;
    color: #242424;
    font-weight: bold;
    font-size: 16px;
}
.search__icon {
    color: #F9A826;
    font-size: 24px;
    padding: 8px;
}
.search__icon:hover {
    color: #8a5500;
    
}

.sort__wrapper {
    height: 30%;
    padding: 8px;
    margin: 0 32px;
}
.search-sort__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 8px;
}


/* country */ 
.country__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.country__img {
    height: 200px;
    width: 300px;
    padding: 12px;
}
.country {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 12px;
    border: 1px solid #242424;
    border-radius: 32px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 300ms ease;
}
.country:hover {
    scale: 1.05;
}
.country__name {
    padding: 12px;
}
.country__desc {
    padding: 8px;
    font-size: 14px;
}

/*  

SPINNER

*/

.fa-spinner {
    animation: rotate 700ms infinite linear;
  }

  .country__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    position: absolute;
    left: 0;
    right: 0;
    padding: 48px 0;
  }
  .country__loading--spinner {
    display: none !important;
  }


  @media (max-width: 550px) {
    .search-sort__wrapper {
        display: flex;
        flex-direction: column;
    }
  }
  
